.mule/plugins-tmp/repository/4.3.0-20210119/eb566cbb-279c-4a2f-bb62-950b9648e62f/mule-plugin-user-services-sapi/1.0.6/mule-plugin-user-services-sapi-1.0.6-mule-plugin.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionString" use="required" name="property_host"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="property_port"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="/" name="property_basePath"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="property_protocol"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" name="property_proxyConfig"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="10000" name="property_responseTimeout"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Create-alert-by-id-subscription-idType" substitutionGroup="mule:abstract-operator" name="create-alert-by-id-subscription-id"></xs:element>
  <xs:complexType name="Create-alert-by-id-subscription-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="create-alert-by-id-subscription-id-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="subscription-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Create-customerType" substitutionGroup="mule:abstract-operator" name="create-customer"></xs:element>
  <xs:complexType name="Create-customerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="create-customer-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Create-subscription-by-idType" substitutionGroup="mule:abstract-operator" name="create-subscription-by-id"></xs:element>
  <xs:complexType name="Create-subscription-by-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="create-subscription-by-id-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-alert-by-id-subscription-id-alert-idType" substitutionGroup="mule:abstract-operator" name="get-alert-by-id-subscription-id-alert-id"></xs:element>
  <xs:complexType name="Get-alert-by-id-subscription-id-alert-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="subscription-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="alert-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-alerts-by-id-subscription-idType" substitutionGroup="mule:abstract-operator" name="get-alerts-by-id-subscription-id"></xs:element>
  <xs:complexType name="Get-alerts-by-id-subscription-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="subscription-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-customer-by-idType" substitutionGroup="mule:abstract-operator" name="get-customer-by-id"></xs:element>
  <xs:complexType name="Get-customer-by-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-customersType" substitutionGroup="mule:abstract-operator" name="get-customers"></xs:element>
  <xs:complexType name="Get-customersType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-subscription-by-id-subscription-idType" substitutionGroup="mule:abstract-operator" name="get-subscription-by-id-subscription-id"></xs:element>
  <xs:complexType name="Get-subscription-by-id-subscription-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="subscription-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Get-subscriptions-by-idType" substitutionGroup="mule:abstract-operator" name="get-subscriptions-by-id"></xs:element>
  <xs:complexType name="Get-subscriptions-by-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1"></xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Update-alert-by-id-subscription-id-alert-idType" substitutionGroup="mule:abstract-operator" name="update-alert-by-id-subscription-id-alert-id"></xs:element>
  <xs:complexType name="Update-alert-by-id-subscription-id-alert-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="update-alert-by-id-subscription-id-alert-id-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="subscription-id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="alert-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Update-customer-by-idType" substitutionGroup="mule:abstract-operator" name="update-customer-by-id"></xs:element>
  <xs:complexType name="Update-customer-by-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="update-customer-by-id-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="Update-subscription-by-id-subscription-idType" substitutionGroup="mule:abstract-operator" name="update-subscription-by-id-subscription-id"></xs:element>
  <xs:complexType name="Update-subscription-by-id-subscription-idType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="update-subscription-by-id-subscription-id-request-data"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="id"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="subscription-id"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/national-railway-train-services-api" type="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType" use="optional" name="request-streaming-mode"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AUTOGENERATED_ffde5c1f8190df064f033d2eb170cd214c6e5a0ea7fdc5dc4a9a156aec736114_EnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTO"></xs:enumeration>
          <xs:enumeration value="NEVER"></xs:enumeration>
          <xs:enumeration value="ALWAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>